body{
    background: #f9e933;
}
h1{
    font: 300% italic serif;
}
h2{
    padding-bottom: 10px;
    font: 200% bold;
}
a{
    color: red;
    text-decoration: none;
    font: 110% bold;
}
a:hover{
    text-decoration: underline;
}
ol{
    padding-left: 20px;
    list-style-type: circle;
    padding-bottom: 10px;
}
header, main, footer{
    min-width: 855px;
    padding: 15px;
}
header{
    background: white;
    overflow: auto;
}
header h1{
    float: left;
    width: 570px;
}
header nav{
    float: right;
    width: 285px;
}
main{
    background: white;
    overflow: auto;
}
.maincontainer{
    float: left;
    width: 570px;
    padding-bottom: 10px;
}
.maincontainer h3{
    font: 120% bold;
    padding-top: 15px;
    padding-bottom: 10px;
}
.tabs a span{
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}
.tabs a span.active{
    background: #eee;
}
.content{
    display: inline-block;
    width: 338px;
    background: #eee;
    padding: 10px;
}
.lightbulb{
    float: right;
    width: 285px;
}
footer{
    background: #f9e933;
    overflow: auto;
}
.contact{
    float: left;
    width: 570px;
}
.contact h5{
    padding-bottom: 20px;
    font: 120% bold;
}
.sitemap{
    float: right;
    width: 285px;
}
.sitemap h5{
    padding-bottom: 20px;
    font: 120% bold;
}